<div class='container'>
  <form [formGroup]="uploadForm" (ngSubmit)="submit()">
    <div class="align-center"><input type="file" accept="image/*" (change)="showPreview($event)" /></div>
    <div class="card" *ngIf="imageURL && imageURL !== ''">

      <img [src]="imageURL" [alt]="uploadForm.value.name">
      <h1>John Doe</h1>
      <p class="title">CEO & Founder, Example</p>
      <p>Harvard University</p>
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <p><button>Contact</button></p>
    </div>
  </form>
</div>